<div class="header">
    <div class="container">
        <a href="/">
            <img src="https://github.com/CQEN-QDCE/exp-attestation-deleguee/blob/master/DEC-controller/src/assets/images/gouvqc.jpg" width="63" height="44" alt="Gouvernement du Québec Logo">
        </a>
        <div>
            Service d'authentification par courriel du CQEN **DEMO**
        </div>
    </div>
</div>