<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="img-fluid d-none d-md-block" src="/assets/images/qc-logo.svg" width="177" height="44" alt="Gouvernement du Québec Logo">

                <img class="img-fluid d-md-none" src="/assets/images/qc-logo.svg" width="63" height="44" alt="Gouvernement du Québec Logo">
            </a>
            <div class="navbar-brand">
                Service d'authentification par courriel du CQEN **DEMO**
            </div>
        </div>
    </nav>
</div>